
@using Nop.Web.Themes.PAA.ViewModels
@model  RegistrationViewModel

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-entry-instruction-page");



}


<style>

    .phoneHidden ul {
        margin-left: 0 !important;
    } 

    .phoneHidden ul li {

        padding: 0;
        margin: 0;
        margin-right: 1.3rem;
    }
   


    p, li {
        margin-bottom: 1rem;
        font-size: 1.2rem !important;
        color: #333 !important;
    }


    li {
        margin-left: 3rem;
        margin-bottom: .5rem;
    }


    .left-side {
        border: 1px solid #c1c1c1;
        border-radius: 8px;
        float: left;
      /*  height: 500px; */
        margin: 1rem 1rem 0 0;
        width: 85%;
        padding: 2% 4%;
    }


        .left-side h3 {
            margin-left: -.02rem !important;
        }

        .left-side p {
            font-size: 1rem;
        }

        .left-side a {
            color: #9400d3 !important;
        }

        .left-side #register-button a {
            color: white !important;
            text-align: center;
        }

         form {
             display: block;
             background-color: #ddd;
             padding: 2%;
             overflow: auto;

         }





</style>



<section id="register-request">


    <h2>Entry Information for “Eastern Impressions” Exhibit Test</h2>

    <br><br>


    <div class="register-request-wrapper">


        @using (@Html.BeginForm())
        {
            @Html.AntiForgeryToken()



            <div class="left-side" style="width:100%; min-height:560px; margin-bottom:20px;">

                @*<h3>Entry Information</h3>*@



                <section class="Identity">
                    <div class="identity-wrapper">

                        <p>
                            Here’s a great opportunity to show your art in this special exhibit at Willow Bend Mall
                            in the North Texas Center for Performing Arts. The exhibit is sponsored by Plano Art Association
                            in collaboration with -
                            <ul>
                                <li>• North Texas Asian Photography Association</li>
                                <li>• Volunteers Promoting Chinese Culture</li>
                                <li>• Dallas Chinese Art Association</li>
                                <li>• Fusion Art Group</li>
                            </ul>

                        </p>


                        <p>
                            This exhibit is exclusively for the members of the participating,
                            sponsoring arts organizations. Individuals who do not choose to become
                            members of one of these organizations can join <a href="/join">Plano Art Association</a>
                            as an alternative option.

                        </p>
                        <p>
                            Artists may submit up to two pieces of art. Acceptance will be based on number of total submissions
                            and space available. The size for each piece is limited to 36 inches in width.
                        </p>

                        <p>
                            Artists will be notified of the pieces that can be exhibited. Exhibit space is limited to
                            approximately 40 pieces each month of the exhibit. Efforts will be made to include works
                            during a second month should number of entries warrant it.
                        </p>

                        <p>
                            All pieces must be two-dimensional; all works must be wired with eye-hooks or D-rings
                            with wire, ready to hang. WORKS WILL BE REJECTED AT DROP-OFF IF THEY ARE NOT PROPERLY
                            PREPARED FOR HANGING.
                        </p>


                        <p>
                            All works must have the artist's name and title of the piece on a note
                            attached to the back of the artwork.

                        </p>

                        <p>
                            Family-friendly subject matter only.
                        </p>
                        <p>
                            DEADLINE FOR ONLINE SUBMISSION IS MARCH 14, 2018.
                        </p>
                        
                        <p></p>
                        <ul>
                            <li>• 3/14 - Artist Submission Deadline Online</li>
                            <li>• 3/23 - Artist Notification of Pieces Accepted</li>
                            <li>• 3/27 - Artist Drop Off *</li>
                            <li>• 4/01 - Opening of Show</li>
                            <li>• 4/07 - Reception 4:00 to 6:00 p.m. *</li>
                            <li>• TBD - Artist Pick Up *</li>
                        </ul>
                        <p>&nbsp;</p>

                        <p>*  Drop off, Pickup, & Reception Location -<br /> WILLOW BEND MALL AT NORTH TEXAS PERFORMING ARTS OFFICE</p>

                        <p>&nbsp;</p>
                    </div>










                    <div class="form-info" style="float: left; text-align: center; ">

                        <a href="~/Submissions/register" target="_top" id="register-button" class="common-buttons button-2"> <span style="color:white">  Next  </span>   </a>
                        
                    </div>
                 
                    <div>
                        <p>&nbsp;</p>
                    </div>

                </section>

               
            </div>

            

        }
        <div class="clearfix">  <p>&nbsp;</p>  <p>&nbsp;</p></div>
    </div>

</section>













@*<div class="fieldset">


            <div class="form-info" style="font-size:0.9rem; white-space: nowrap !important; font-weight: bold; float: left;">


                I wish to submit:  <br> <br>

                @Html.RadioButtonFor(model => model.TotalCount, 1, new { id = "rbSingle", @Class = "radio-button" })
                @Html.Label("1 Image")
                @Html.RadioButtonFor(model => model.TotalCount, 2, new { id = "rbDual", @Class = "radio-button" })
                @Html.Label("2 Images")

                @Html.RadioButtonFor(model => model.TotalCount, 3, new { id = "rbTriple", @Class = "radio-button" })
                @Html.Label("3 Images")


            </div>

        </div>











    @*<div class="fieldset">


        <div class="form-info" style="font-size:0.9rem; white-space: nowrap !important; font-weight: bold; float: left;">


            I wish to submit:  <br> <br>

            @Html.RadioButtonFor(model => model.TotalCount, 1, new { id = "rbSingle", @Class = "radio-button" })
            @Html.Label("1 Image")
            @Html.RadioButtonFor(model => model.TotalCount, 2, new { id = "rbDual", @Class = "radio-button" })
            @Html.Label("2 Images")

            @Html.RadioButtonFor(model => model.TotalCount, 3, new { id = "rbTriple", @Class = "radio-button" })
            @Html.Label("3 Images")


        </div>

    </div>*@

