
@using Nop.Web.Themes.PAA.ViewModels
@model  RegistrationViewModel

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-entry-instruction-page");


}


<style>

    .phoneHidden ul {
        margin-left: 0 !important;
    } 

    .phoneHidden ul li {

        padding: 0;
        margin: 0;
        margin-right: 1.3rem;
    }
   


    p, li {
        margin-bottom: 1rem;
        font-size: 1.2rem !important;
        color: #333 !important;
    }


    li {
        margin-left: 3rem;
        margin-bottom: .5rem;
    }


    .left-side {
        border: 1px solid #c1c1c1;
        border-radius: 8px;
        float: left;
      /*  height: 500px; */
        margin: 1rem 1rem 0 0;
        width: 85%;
        padding: 2% 4%;
    }


        .left-side h3 {
            margin-left: -.02rem !important;
        }

        .left-side p {
            font-size: 1rem;
        }

        .left-side a {
            color: #9400d3 !important;
        }

        .left-side #register-button a {
            color: white !important;
            text-align: center;
        }

         form {
             display: block;
             background-color: #ddd;
             padding: 2%;
             overflow: auto;

         }

         p{ padding-left: 20px;}

            p.pickup {
                color: red !important;
                font-weight: bolder!important;
            } 
</style>



<section id="register-request">

  

   

    <br><br>


        <div class="register-request-wrapper">


            @using (@Html.BeginForm())
            {
                @Html.AntiForgeryToken()
               
                <h2>
                    CALL FOR ENTRIES<br>
                    ANNUAL MEMBERS' EXHIBIT 2019
                </h2>


                <div class="left-side" style="width:100%; min-height:560px; margin-bottom:20px;">

                    @*<h3>Entry Information</h3>*@

                    <h2>EVENT DETAILS</h2>

                    <section class="Identity">
                        <div class="identity-wrapper">

                            <h3>WHAT</h3>

                            <p>
                                This exhibit is limited to members of Plano Art Association. It is an opportunity to
                                showcase members’ artwork in the beautiful ArtCentre of Plano galleries for a month and
                                a half. During this period, hundreds of people will view your work which can be for sale
                                if you choose. The ArtCenter is located at 902 E 16th St, Plano, TX 75074
                            </p>

                           

                            <h3>WHEN</h3>
                            <p>
                                The exhibit will be on display from February 12  through March 30 from 10:00 a.m
                                till 5:00 p.m. Tuesday through Saturday.

                                <ul>
                                    <li>1/28  – (Monday) Artist Submission Deadline Online</li>      
                                    <li>2/01  - (Friday) Artist Notification of Pieces Accepted  </li>
                                    <li>2/08  - (Friday) Artist Drop Off (at ArtCenter 10:00 am till 4:00 pm)</li>
                                    <li>2/12  - (Tuesday) Opening of Exhibit</li>
                                    <li>2/16  - (Saturday) Reception</li>
                                    <li>3/29 – (Friday) Exhibit Closes</li>
                                    <li>3/31 -  (Sunday) Artist Pick Up (at ArtCenter 1:00 am till 4:00 pm)</li>
                                </ul>
                           <p class="pickup"> NOTE: Artwork cannot be removed from the exhibit earlier 
                                than this time and date!
                            </p>

                            </p>
                            <h3>PARTICIPATION</h3>

                            <p>
                                Members of Plano Art Association  may submit up to three pieces.
                                Acceptance will be based on the number of total submissions and space available for exhibiting, 
                                on a first come first serve basis. Artists will be notified of the pieces that are accepted to 
                                be exhibited.
                            </p>

                            <p>
                                Exhibit space is limited to approximately 60 pieces.
                            </p>


                            <h3>AWARDS</h3>

                            <p>
                                Artists of artwork selected by judges will be awarded cash prizes.
                                Awards will be made for 2-D, 3-D, Photography and Best of Show. 
                                A special People’s Choice Award will be given based on the vote of 
                                all attendees at the reception. Cash awards will total $1,000.
                            </p>

                            <h3>ENTRY FEES</h3>

                            <p>

                                <strong>PAA MEMBERS -</strong>
                                Members may enter up to three pieces for a total fee of $25
                            </p>
                           

                            <h3>SALES</h3>
                            <p>Exhibiting artists may sell their work during the show. A 30% commission will be retained by Plano Art Association.</p>


                            <h3>ENTRY PROCESS</h3>
                            <p>

                                <ul>
                                    <li>
                                        1. Enter one to three images of your work on the next page, 
                                         which will be automatically forwarded to the PAA Entry Manager and processed for entry.
                                    </li>
                                    <li>
                                        2. Pay member entry fee. Have your credit card information handy.
                                    </li>
                                    <li>
                                        3. The PAA Entry Manager will notify artist about which of their works can be included in the
                                         exhibit along with a reminder of regulations, key times for drop-off, reception, pick-up, etc.

                                    </li>
                                </ul>
                            </p>


                            <div class="form-info" style="float: left; text-align: center; ">

                                <a href="~/Submissions/register" target="_top" id="register-button" class="common-buttons button-2">
                                    <span style="color: white; white-space: nowrap"> Grab your images and your credit card and start here >> </span>
                                </a>

                            </div>

                            <div>
                                <p>&nbsp;</p>
                            </div>

                        </div>
                    </section>


                </div>



            }
            <div class="clearfix">  <p>&nbsp;</p>  <p>&nbsp;</p></div>
        </div>

</section>













@*<div class="fieldset">


            <div class="form-info" style="font-size:0.9rem; white-space: nowrap !important; font-weight: bold; float: left;">


                I wish to submit:  <br> <br>

                @Html.RadioButtonFor(model => model.TotalCount, 1, new { id = "rbSingle", @Class = "radio-button" })
                @Html.Label("1 Image")
                @Html.RadioButtonFor(model => model.TotalCount, 2, new { id = "rbDual", @Class = "radio-button" })
                @Html.Label("2 Images")

                @Html.RadioButtonFor(model => model.TotalCount, 3, new { id = "rbTriple", @Class = "radio-button" })
                @Html.Label("3 Images")


            </div>

        </div>











    @*<div class="fieldset">


        <div class="form-info" style="font-size:0.9rem; white-space: nowrap !important; font-weight: bold; float: left;">


            I wish to submit:  <br> <br>

            @Html.RadioButtonFor(model => model.TotalCount, 1, new { id = "rbSingle", @Class = "radio-button" })
            @Html.Label("1 Image")
            @Html.RadioButtonFor(model => model.TotalCount, 2, new { id = "rbDual", @Class = "radio-button" })
            @Html.Label("2 Images")

            @Html.RadioButtonFor(model => model.TotalCount, 3, new { id = "rbTriple", @Class = "radio-button" })
            @Html.Label("3 Images")


        </div>

    </div>*@

