
@using Nop.Web.Themes.PAA.ViewModels
@model  RegistrationViewModel

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-register-page");


    var ivm = Model.ImageUploadViewModel;


    ViewBag.Title = "Eastern Impressions";
    ViewBag.Id = "Eastern Impressions";
    ViewBag.PageTitle = "Eastern Impressions ";


}

<section id="register-request">

    <h2>“Eastern Impressions” Exhibit</h2>
    <br><br />
    <div class="register-request-wrapper">

    
        @using (Ajax.BeginForm("Register", "RegisterCustomer",
                                  new AjaxOptions
                                  {
                                      HttpMethod = "POST",
                                      InsertionMode = InsertionMode.Replace,
                                      UpdateTargetId = "replace-this-element",
                                      
                                  },
                                  new { target = "_self" }
                                  
                                  ))
        {

            @Html.AntiForgeryToken()

            @Html.Hidden(Model.CurrentState)

            <div id="replace-this-element">

                @Html.Partial("_RegisterRequest", @Model)

            </div>

        } 
    
         <div class="clearfix"></div>

    </div>


    @*<form id="PayPalPayment" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="visibility: hidden;">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="UQF4ZESZWHUWS">
        <table>
            <tr><td><input type="hidden" name="on0" value="2018 Members Show Fee ($25)">Pay 2018 Members Show Fee ($25)</td></tr>
            <tr><td><input type="hidden" name="os0" maxlength="200"></td></tr>
        </table>
        <input type="image" src="~/Themes/PAA/Content/siteimages/payNow1.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>*@ <!-- end form 2 -->


</section>













@*<div class="fieldset">


        <div class="form-info" style="font-size:0.9rem; white-space: nowrap !important; font-weight: bold; float: left;">


            I wish to submit:  <br> <br>

            @Html.RadioButtonFor(model => model.TotalCount, 1, new { id = "rbSingle", @Class = "radio-button" })
            @Html.Label("1 Image")
            @Html.RadioButtonFor(model => model.TotalCount, 2, new { id = "rbDual", @Class = "radio-button" })
            @Html.Label("2 Images")

            @Html.RadioButtonFor(model => model.TotalCount, 3, new { id = "rbTriple", @Class = "radio-button" })
            @Html.Label("3 Images")


        </div>

    </div>*@

